html {
  --default-background: #e6ecfa;
  --default-accent: #7858c1;
  --default-text: #424242;
  --active-tab: #3e3e3e;
  --inactive-tab: #2c2c2c;
  --omnibox-input: #343434;
  --box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--default-background);
  color: var(--default-text);
  font-family: "Ubuntu", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#app-mount {
  margin: auto;
  /* text-align: center; */
}

a {
  text-decoration: none;
}
